# gitignore

##
## BASE
##

logs
pids
lib-cov

*.log
*.pid
*.seed

*~
*#
.lock-wscript
.tmp
.sass-cache
.DS_STORE
.netbeans
.idea
.vagrant

Thumbs.db
dump.rdb
npm-debug.log
package-lock.json

##
## PROJECT
##


